#map {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

#getLocation {
  display: block;
  float: right;
}

h1 {
  text-align: center;
}

.controls {
  width: 50%;
  margin: 0 auto 20px;
  display: block;
  text-align: center;
  line-height: inherit;
}

#search {
  width: 200px;
  height: 20px;
  border-radius: 2px;
}
